<a href="https://colab.research.google.com/github/eldercamposds/Exemplo_MachienLearning/blob/main/Classifica%C3%A7%C3%A3o_introdu%C3%A7%C3%A3o_a_Machine_Learning_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

uri  = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [ ]:
#traduzindo as colunas

mapa = {
    "home": "principal",
    "how_it_works": "como_funciona",
    "contact": "contato",
    "bought": "comprou"
}

dados = dados.rename(columns = mapa)

In [ ]:
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [ ]:
#separando as colunas para os testes
x= dados[["principal","como_funciona","contato"]]
y= dados[["comprou"]]

In [ ]:
y.head()

   bought
0       0
1       0
2       0
3       0
4       0

In [ ]:
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [ ]:
dados.shape #tamanho do dataframe

(99, 4)

In [ ]:
#definindo os treinos
treino_x = x[:75] # separando APROCIMADAMENTE 25% dos dados para teste e os restante para treino
treino_y = y[:75]
print(treino_x.shape)
print(treino_y.shape)

(75, 3)
(75, 1)

In [ ]:
#definindo os testes
teste_x = x[75:]#testando com com cerca de 25% dos dados
teste_y = y[75:]
print(teste_x.shape)
print(teste_y.shape)

(24, 3)
(24, 1)

In [ ]:
print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos")

Treinaremos com 75 elementos e testaremos com 24 elementos

In [46]:
#iniciando os treinos
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y) # primeiro paramentro são os dados e o segundo o label
previsoes = modelo.predict(teste_x) # faz previsão com base no conjunto de dados

acuracia = accuracy_score(teste_y, previsoes)*100 #primeiro parametro é o label e o segundo as previsões. Multiplicado por 100 para retornar uma porcentagem
print(f"A acurácia foi {acuracia:.2f}%")

A acurácia foi 96.00%

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

#Separando o treino e o teste com Sklearn

In [57]:
from sklearn.model_selection import train_test_split# biblioteca para seprar o treino e o teste
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20 #define um número inicial para a geração de números aleatórios

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25) # test_size equivale a quatidade de dados usados no teste. 25% no caso

print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos")

#repetindo os testes anteriores

modelo = LinearSVC()
modelo.fit(treino_x, treino_y) 
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes)*100 
print(f"A acurácia foi {acuracia:.2f}%")

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [59]:
teste_y.value_counts() #19/6 = 3,16

comprou
0          19
1           6
dtype: int64

In [60]:
treino_y.value_counts()#47/27 = 1,74

comprou
0          47
1          27
dtype: int64

as separações não estão proporcionais

#Seprando os dados e treinando proporcionalmente

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25, stratify = y) # stratificação de acordo com o y
print(f"Treinaremos com {len(treino_x)} elementos e testaremos com {len(teste_x)} elementos")

#repetindo os testes anteriores
modelo = LinearSVC()
modelo.fit(treino_x, treino_y) 
previsoes = modelo.predict(teste_x) 

acuracia = accuracy_score(teste_y, previsoes)*100 
print(f"A acurácia foi {acuracia:.2f}%")

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

/usr/local/lib/python3.9/dist-packages/sklearn/utils/validation.py:1143: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [66]:
treino_y.value_counts()#49/25 = 1,96

comprou
0          49
1          25
dtype: int64

In [67]:
teste_y.value_counts()#17/8 = 2,12

comprou
0          17
1           8
dtype: int64

conferindo proporções similares de aproximadamente 2 para 1